@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.nav {
  margin-top: 15px;
  text-align: center;
}

detail.front {
    color: lightgray;
    font-size: 25px;
    display: block;
}

#nav_sections a.active{
  background-color: #0dd7a5!important;
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: #e9e9e9;
  border: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Varela Round', sans-serif;

}
html {
  padding: 50px;
  display: table;
}
body {
  display: table-cell;
  vertical-align: middle;
}
#nav_sections{
  width:300px;
  text-align: center;
  margin:20px auto;
}
#nav_sections a{
  text-decoration:none;
  padding:12px;
  margin:8px;
  background-color: lightgrey;
  border-radius: 6px;
  font-size:12px;
  color:#fff;
  font-family: 'Varela Round', sans-serif;
}
#container{
  margin: 0px auto 120px auto;
  box-shadow: 0px 0px 25px rgba(0,0,0,.04);
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 400px;
}
article#flashcard {
  margin: 0px auto 120px auto;
  box-shadow:  0px 0px 25px rgba(0,0,0,.04);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
}
article#flashcard input[type=checkbox] {
  display: none;
}
article#flashcard input[type=checkbox]:checked ~ label section.front {
  height: 0%;
}
article#flashcard input[type=checkbox]:checked ~ label section.back {
  height: 100%;
}
article#flashcard label {
  display: block;
  width: 100%;
  height: 100%;
}
article#flashcard section {
  display: block;
  font-size: 56px;
  text-align: center;
  /*line-height: 400px;*/
  line-height: 60px;
  width: 100%;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  overflow: hidden;
}
article#flashcard section.front {
  cursor: pointer;
  color: #000000;
  background: #FFF;
  height: 100%;
}

article#flashcard section.back,
article#flashcard section.front {
  border-radius: 15px;
}

article#flashcard section.back {
  cursor: pointer;
  color: #FFF;
  background: #0dd7a5;
  height: 0%;
}

article#flashcard div.nav{
  display:block;
  background-color: transparent;
  padding-top: 10px;
  height:40px;
}
article#flashcard div.nav a {
  cursor: pointer;
  color: #FFF;
  background: #02a1e4;
  padding: 15px 113px;
  border-radius: 8px;
  margin-right:10px;
}

article#flashcard div.nav a:hover {
  background: pink;
}

 /*-----------------new--------------*/

section.front {
    overflow: inherit;
}
